<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Globalin.dao.AdminDao">

	<resultMap id="UserResultMap"
		type="com.example.Globalin.model.User">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="nickname" column="nickname" />
		<result property="role" column="role" />
		<result property="joinDate" column="join_date" />
	</resultMap>

	<select id="selectAllUsers" resultMap="UserResultMap">
		SELECT * FROM users
		ORDER BY id ASC
	</select>

	<delete id="deleteUser">
		DELETE FROM users WHERE id = #{userId}
	</delete>

</mapper>