@charset "UTF-8";

/* 나중에고치자.... */

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	display: inline-block;
	max-width: 50%;
}

.message.me {
    justify-content: flex-end;
}

.message.other {
    justify-content: flex-start;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 20%;
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 20%;
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: 0;
	margin-left: 0;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.modal-content {
	background: white;
	margin: 20% auto;
	width: 300px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

#messages {
	height: 300px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	padding: 10px;
}

#input {
	width: 70%;
	padding: 5px;
}

button {
	padding: 5px 15px;
}